<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<style>
    h1 {
        text-align: center;
    }


    p {
        font-size: 0.875em;
        /* 14px/16=0.875em */
    }

    table.table-fit {
        width: auto !important;
        table-layout: auto !important;
    }

    table.table-fit thead th,
    table.table-fit tfoot th {
        width: auto !important;
    }

    table.table-fit tbody td,
    table.table-fit tfoot td {
        width: auto !important;
    }

    tr {
        height: 10px;
    }
    th {
        height: 10px;
    }


</style>


<body>


<div class="container">

    <div>
        <h1>{{title}}</h1>
    </div>

    <div>
        <p> Updated on : {{update_date}}</p>
    </div>

    <div>
        <table class="table table.table-condensed">
            <tbody>
            <thead>
            <th>
                Symbol
            </th>
            <th>
                Indicator
            </th>
            <th>
                Indicator Value
            </th>
            <th>
                Price
            </th>
            <th>
                Action Item
            </th>
            <th>
                Action Date
            </th>
            </thead>

            {% for item in data %}
            <tr>
                <td><a href='https://finance.yahoo.com/quote/{{item["ticker"]}}/'>{{item["ticker"]}}</a></td>

                <td>{{item["indicator"]}}</td>
                <td>{{item["indicator_value"]}}</td>
                <td>{{item["price"]}}</td>
                {%set val = item["action_item"] %}
                {%if (val == "Buy" or val == "Oversold")%}
                {%set op = "background:rgba(0,255,0,0.5)"%}
                <td style={{op}}>{{item["action_item"]}}</td>
                {% endif %}

                {%set val = item["action_item"] %}
                {%if (val == "Sell" or val == "Overbought")%}
                {%set op = "background:rgba(255,0,0,0.5)"%}
                <td style={{op}}>{{item["action_item"]}}</td>
                {% endif %}

                <td>{{item["action_date"]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


</body>

</html>